// _blog.scss
.commentWrapper{
  max-width: 620px;
  margin: 0 auto;
}
//
.my_post{
	margin-top: 190px;
	.entry-content{
		h2{
			font-family: $display-font;
			font-size: 2.5rem;
			margin: 35px 0 0 0;
		}
		h3{
			font-size: 2rem;
			margin: 45px 0 5px 0;
		}
		p{
			font-size: 2rem;
			font-weight: 300;
			line-height: 1.4;
			margin-bottom: 20px;
		}
		pre{
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.5;
			margin: 30px 0;
			padding: 20px;
		}
		a{
			color: $black;
			font-weight: 400;
			text-decoration: none;
			padding-bottom: 1px;
			border-bottom: 1px solid $black;
			&:hover{
				border-bottom: 1px solid $lightgray;
				color: $lightgray;
			    text-decoration: none;
			}
		}
		blockquote{
			font-family: $display-font;
			font-size: 1.5rem;
			font-style: italic;
			color: $default;
			letter-spacing: 0.75px;
			margin-top: 10px;
			margin-bottom: 40px;
			padding: 30px 0;
			text-align: center;
			border-radius: 4px;
			a{
				color: $default;
				font-weight: 400;
				text-decoration: none;
				padding-bottom: 1px;
				border-bottom: 1px solid $default;
				&:hover{
					border-bottom: 1px solid $lightgray;
					color: $lightgray;
				}
			}
		}
	}
	h2{
		font-family: $display-font;
		font-size: 3.5rem;
		border-bottom: none;
		margin-bottom: 10px;
	}
}
.thanks-blog{
	margin: 55px 0;
	p{
		font-size: 2.8rem!important;
		font-family: $display-font;
	}
}
.div-break{
	margin-top: 15px;
	padding: 30px 0 0 0;
	// border-top: $borderOne;
}
//
.setImage{
	margin-bottom: 15px;
}
#respond label{
	font-size: 2rem;
}
#comment{
	border: $borderThree;
	margin-bottom: 15px;
	font-family: $body-font;
	font-size: 1.5rem;
	font-weight: 300;
	color: $richgray;
	padding: 5px;

}
#submit{
	font-weight: 300;
	color: $default;
	background: $black;
	letter-spacing: 0.25px;
	border: $borderOne;
	padding: 8px 15px;
	margin-top: 30px;
	margin-left: 35px;
	text-decoration: none;
	display: inline-block;
	transition: $animatorOne;
	&:hover{
	  color: $black;
	  background: $default;
	  border: $borderOne;
	}
}
.logged-in-as a{
	color: $black;
	text-decoration: none;
	font-weight: 400;
	&:hover{
		text-decoration: underline;
		color: lighten($black, 30%);
	}
}
.comments-area{
	// margin-top: 50px;
	h2{
		font-family: $body-font;
		font-size: 2rem;
		font-weight: 300;
	}
	h3#reply-title{
		font-family: $body-font;
		font-size: 1.8rem;
		font-weight: 300;
		margin-top: 50px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
}
.comment-author{
	margin: 15px 0 10px 0;
	.avatar{
		margin-right: 10px;
		border: $borderOne;
	}
}
.comment-reply-link{

}
.comment-form input{
	font-family: $body-font;
	font-size: 1.5rem;
	font-weight: 300;
	color: $richgray;
	padding: 5px;
}
.comment-body{
	margin-top: 20px;
	border-top: $borderThree;
}
.author, .meta-sep, .entry-utility{
	display: none;
}
.entry-meta{
	margin-bottom: 15px;
	a{
		color: $black;
		text-decoration: none;
		font-weight: 400;
		&:hover{
			text-decoration: underline;
			color: lighten($black, 30%);
		}
	}
}
ol{
	list-style-type: none;
  -webkit-padding-start: 0;
}
ol .children{
  -webkit-padding-start: 40px;
}
//
.navigation{
	display: block;
	margin-top: 15px;
	margin-bottom: 50px;
	.nav-previous a{
		float: left;
		font-size: 1.2rem;
		color: $default;
	    background: $black;
	    letter-spacing: 0.25px;
	    border: $borderOne;
	    padding: 5px 10px;
	    margin-right: 10px;
	    text-decoration: none;
	    display: inline-block;
	    transition: $animatorOne;
	    &:hover{
	       color: $black;
	       background: $default;
	       border: $borderOne;
	     }
	}
	.nav-next a{
		float: right;
		font-size: 1.2rem;
		color: $default;
	    background: $black;
	    letter-spacing: 0.25px;
	    border: $borderOne;
	    padding: 5px 10px;
	    text-decoration: none;
	    display: inline-block;
	    transition: $animatorOne;
	    &:hover{
	        color: $black;
	        background: $default;
	        border: $borderOne;
	      }
	}
}