// _colour.scss
$default: #ffffff;
$grayblue:    #4682B4;
$maroon:    #A11E0B;
$burntorange:    #DAA520;
$richgray:    #778899;
$beige:    #DEB887;
$orange:    #D2691E;
$turquoise:    #00CED1;
$cherry:    #9E0050;
$purple:    #9B59B6;
$green:    #32CD32;
$red:    #EE4846;
$darkgray:    #515151;
$pink:    #ED1E79;
$black:    rgba(0,0,0,0.8);
$yelloworange:    #FFC61E;
$lightblue:    #00B0F9;
$lightorange:    #FF7A00;
$deeppurple:    #58266A;
$deepblue:    #312A68;
$lightgray:    #808080;
$mediumblue:    #005487;
$border:  rgba(0,0,0,0.25);
$borderCtwo:  rgba(0,0,0,0.1);
$borderFull:  rgba(0,0,0,1);