
////////////////////////////////////////////////////
/////CUSTOM STYLES
//////////////////////////////////////////////////
///GENERAL//////////////////////////
section{
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  font-size: $main-font-size;
  font-family: $body-font;
  font-weight: 300;
  position: relative;
}
.blogWrapper{
  max-width: 1000px;
  margin: 0 auto;
}
.innerWrapper{
  max-width: 760px;
  margin: 0 auto;
}
.contactWrapper{
  max-width: 620px;
  margin: 0 auto;
}
.logo{
  float: left;
  width: 50%;
  margin-top: 35px; 
  h1{
    font-size: 3rem;
    font-family: $display-font;
    margin: 0;
    padding: 12px 45px 12px 30px;
    background: $black;
    display: inline;
    a{
      color: $default;
      text-decoration: none;
    }
  }
}
// .call{
//   float: right;
// }
.social{
  float: right;
  max-width: 50%;
  margin-top: 38px;
  .social_btns{
    float: right;
    text-align: right;
    max-width: 150px;
    padding-left: 15px;
    font-size: 3.5rem;
  }
  .connect{
    font-size:1.4rem;
    text-transform: uppercase;
    margin-top: 15px;
  }
  .LinkedIn a{
    color: $purple;
    &:hover{
      color: $richgray;
    }
  }
  .Twitter a{
    color: $lightblue;
    &:hover{
      color: $richgray;
    }
  }
  .GitHub a{
    color: $burntorange;
    &:hover{
      color: $richgray;
    }
  }
}
.title{
  width: 100%;
  text-align: center;
}
h2{
  font-family: $display-font; 
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid $black;
  margin-bottom: 35px;
  display: inline-block;
}
.offset:before { 
 display: block; 
 content: " "; 
 height: 150px;      // Give height of your fixed element 
  margin-top: -150px; // Give negative margin of your fixed element    
  visibility: hidden; 
}
///HEADER//////////////////////////
header{
  .masthead{
    position: fixed;
    top: 0;
    z-index: 100;  
    width: 1100px;
    height: 120px;
    background: $default;  
    // border: 1px solid $border;
  }
}
.jumbotron{
  // width: 1100px;
  max-width: 1100px;
  height: 300px;
  background: #000;
  margin: 0;
  padding: 0;
  margin-top: 155px;
}

///ABOUT//////////////////////////
.about{
  margin-top: 100px;
  .about_block{
    margin-bottom: 15px;
  }
  .spacer{
    margin-bottom: 50px;
  }
  .scroll_spacer{
    margin-bottom: 150px;
  }
}
.work{
  margin-top: 100px;
  .workItem{
    border-top: $borderOne;
    transition: $animatorOne;
    .titleFloat{
      float: left;
      h3{
        font-size: 2.2rem;
        font-weight: 300;
        display: inline-block;
        margin: 0;
        padding: 15px 0;
        padding-left: 20px;
      }
    }
    .iconFloat{
      float: right;
      .icons{
        font-size: 1.8rem;
        float: left;
        padding: 15px 15px 0 15px;
      }
    }
  }
}
.work_img{
  max-width: 1100px;
  height: 375px;
  background: $default;
  margin-bottom: 15px;
  // border: $borderOne;
  display: none;
  background-position: 50% 50%;
  .work_copy{
    float: left;
    width: 50%;
    h4{
      font-family: $display-font;
      font-size: 2.8rem;
      background: $black;
      color: $default;
      padding: 8px 35px;
      margin: 0;
      margin-top: 40px;
      // margin-bottom: 10px;
      display: inline-block;
    }
    .work_excerpt{
      background: $default;
      p{
        font-size: 1.5rem;
        line-height: 1.4;
        letter-spacing: 0.1px;
        padding: 20px;  
        padding-left: 35px;
        border: $borderOne;
      }
    }
    .work_link a{
      color: $default;
      background: $black;
      letter-spacing: 0.25px;
      border: $borderOne;
      padding: 8px 15px;
      margin-top: 30px;
      margin-left: 35px;
      text-decoration: none;
      display: inline-block;
      transition: $animatorOne;
      &:hover{
        color: $black;
        background: $default;
        border: $borderOne;
      }
    }
  }
  .work_close{
    font-family: $display-font;
    font-size: 1.5rem;
    background: $default;
    float: right;
    padding: 5px 7px 2px 7px;
    margin: 7px;
    display: inline;
    transition: $animatorTwo;
    &:hover{
      color: $default;
      background: $black;
    }
  }
}
.thoughts{
  margin-top: 100px;
  .blog_post{
    float: left;
    width: 49%;
    max-width: 490px;
    height: 190px;
    border: $borderThree;
    margin-bottom: 20px;
    background-position: 50% 50%;
    background-size: cover;
    transition: $animatorTwo;
    h3{
      font-family: $body-font;
      font-size: 2.2rem;
      font-weight: 300;
      background: $black;
      color: $default;
      margin: 0;
      margin-top: 15px;
      padding: 10px 20px;
      display: inline-block;
    }
    .blog_link a{
      color: $default;
      background: $black;
      border: $borderOne;
      padding: 4px 10px 6px 10px;
      margin-top: 25px;
      margin-left: 20px;
      text-decoration: none;
      display: inline-block;
      transition: $animatorOne;
      &:hover{
        color: $black;
        background: $default;
        border: $borderOne;
      }
    }
  }
  .blog_post:nth-child(2n+3){
    margin-left: 2%;
  }
  .blogs_link a{
    color: $default;
    background: $black;
    border: $borderOne;
    padding: 8px 25px;
    text-decoration: none;
    display: inline-block;
    transition: $animatorOne;
    &:hover{
      color: $black;
      background: $default;
      border: $borderOne;
    }
  }
  .see-all-posts{
    clear: both;
  }
}
.contact{
  margin-top: 100px;
  .intro{
    margin-bottom: 20px;
  }
  .wpcf7-form{
    width: 100%;
    input{
      font-family: $body-font;
      font-size: 1.5rem;
      color: $darkgray;
      border: $borderOne; 
      padding: 5px;
    }
    .your_name, .your_email, .your_subject{
      font-family: $body-font;
      font-weight: 300;
      color: $richgray;
      width: 100%;
      margin-bottom: 10px;
      padding:5px;
    }
    .your-message{
      font-family: $body-font;
      font-weight: 300;
      color: $richgray;
      width: 100%;
      height: 120px;
      border: $borderOne; 
      padding:5px;
      margin-bottom: 20px;
    }
    .form_send{
      color: $default;
      background: $black;
      border: $borderOne;
      padding: 4px 25px;
      font-weight: 300;
      transition: $animatorOne;
      &:hover{
      background: $default;
      color: $black;
    }
    }
  }
  .wpcf7-mail-sent-ok, .wpcf7-validation-errors{
    color: $default;
    border: none;
    background: $lightgray;
    margin: 0;
    margin-top: 25px;
    padding: 10px 15px;
    display: inline-block;
  }
}
.thanks{
  margin-top: 100px;
  margin-bottom: 100px;
  h2{
    margin-bottom: 35px;
  }
  h3{
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}