// _grid.scss
.grid_square{
  width: 10px;
  height: 10px;
  background: $default;
  border-right: 1px solid $faintgray;
  border-bottom: 1px solid $faintgray;
  position: absolute;
  transition: all 4.5s ease;
  -moz-transition: all 4.5s ease;
}
.r1{
  border-top: 1px solid $faintgray; 
}
.c1{
  border-left: 1px solid $faintgray; 
}
.gridRlvr{
  transition: all .25s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition: all .25s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  &:hover{
    background: $default;
  }
}
.bg_one{
  background: $maroon;
}
.bg_two{
  background: $burntorange;
}
.bg_three{
  background: $richgray;
}
.bg_four{
  background: $cherry;
}
.bg_five{
  background: $darkgray;
}
.bg_six{
  background: $lightblue;
}
.bg_seven{
  background: $lightorange;
}
.bg_eight{
  background: $deepblue;
}
.bg_nine{
  background: $mediumblue;
}
.bg_ten{
  background: $pink;
}
.bg_blank{
  background: $blank;
  width: 7px;
  height: 7px;
  margin: 2px 0 0 2px;
}
//
.instruct{
  position: absolute;
  background: $white;
  border-bottom: 1px solid $borderCtwo;
  border-top: 1px solid $borderCtwo;
  width: 1100px;
  height: 40px;
  z-index: 10;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  opacity: 0;
  //
  transition: all 1.25s ease;
  -moz-transition: all 1.25s ease;
}
.show{
  opacity: 1;
}
.draw_btn{
  width: 1100px;
  height: 300px;
  position: absolute;
  z-index: 5000;
  background: $invisible;
  //
  transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
}
//
.controls{
  width: 450px;
  margin: 0 auto;
}
.key_btns{
  float: left;
  color: $black;
  padding: 12px 40px 0 0;
  font-size: 1.25rem;
}
.key_btns:last-child{
  float: left;
  padding: 12px 0 0 0;
}
.letter_border{
  border: 1px solid $borderCtwo;
  border-radius: 2px;
  color: $default;
  background: $black;
  padding: 0 3px 0 3px;
}
.reset{
  padding: 3px 6px;
  &:hover{
    color: $black;
    background: $default;
    cursor: pointer;
  }
}