// _grid.scss
.grid_square{
  width: 10px;
  height: 10px;
  background: $default;
  border-right: 1px solid $faintgray;
  border-bottom: 1px solid $faintgray;
  position: absolute;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
}
.r1{
  border-top: 1px solid $faintgray; 
}
.c1{
  border-left: 1px solid $faintgray; 
}
.gridRlvr{
  transition: all .25s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition: all .25s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  // &:hover{
  //   background: $default;
  // }
}
.bg_one{
  background: $maroon;
}
.bg_two{
  background: $purple;
}
.bg_three{
  background: $pink;
}
.bg_four{
  background: $lightorange;
}
.bg_five{
  background: $red;
}
.bg_six{
  background: $lightblue;
}
.bg_blank{
  background: $blank;
  width: 7px;
  height: 7px;
  margin: 2px 0 0 2px;
}
//
.instruct{
  position: absolute;
  background: rgba($black, 0.65);
  color: $default;
  border-bottom: 1px solid $borderCtwo;
  border-top: 1px solid $borderCtwo;
  max-width: 100%;
  width: 100%;
  height: 40px;
  z-index: 10;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  opacity: 0;
  //
  transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
}
.show{
  opacity: 1;
}
.draw_btn{
  max-width: 100%;
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 5000;
  background: $invisible;
  cursor: pointer;
  //
  transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
}
//
.click_label{
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 11;
  background: $default;
  color: $lightblue;
  font-size: 1rem;
  text-transform: uppercase;
  padding:9px 13px;
  //
  transform: translateX(-50%);
  //
  transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
}
//
.controls{
  width: 500px;
  margin: 0 auto;
  //
  transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
}
.key_btns{
  float: left;
  // color: $black;
  padding: 10px 20px 0 0;
  font-size: 1.25rem;
}
.key_btns:last-child{
  float: left;
  padding: 10px 0 0 0;
}
.letter_border{
  border: 1px solid $borderCtwo;
  border-radius: 3px;
  background: $default;
  padding: 2px 3px 3px 3px;
  margin-top: -3px;
  .inner_border{
    color: $black;
    font-size: 1rem;
    border: 1px solid $borderCtwo;
    padding: 0 3px;
    border-radius: 1px;
  }
}
.reset{
  color: $black;
  background: $default;
  margin-top: 200px;
  padding: 2px 6px;
  //
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  &:hover{
    color: $default;
    background: $black;
    border: 1px solid rgba(255,255,255,0.3);
    cursor: pointer;
  }
}