// _grid.scss
.grid_square{
  width: 10px;
  height: 10px;
  background: $default;
  border-right: 1px solid $faintgray;
  border-bottom: 1px solid $faintgray;
  position: absolute;
  transition: all 4.5s ease;
  -moz-transition: all 4.5s ease;
}
.gridRlvr{
  transition: all .25s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition: all .25s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  &:hover{
    background: $default;
  }
}
.bg_one{
  background: $maroon;
}
.bg_two{
  background: $burntorange;
}
.bg_three{
  background: $richgray;
}
.bg_four{
  background: $cherry;
}
.bg_five{
  background: $darkgray;
}
.bg_six{
  background: $lightblue;
}
.bg_seven{
  background: $lightorange;
}
.bg_eight{
  background: $deepblue;
}
.bg_nine{
  background: $mediumblue;
}
.bg_ten{
  background: $pink;
}
.bg_blank{
  background: $blank;
  width: 7px;
  height: 7px;
  margin: 2px 0 0 2px;
}
//
