// _mq.scss
//
////////////////////////////////
//HOME PAGE MEDIA QUERIES
////////////////////////////////
//
//THIS IS TO ADJUST THE POS OF THE HEADER
@media screen 
  and (max-width: 1060px) {
    .jumbotron{
      margin-left: -20px;
      .c107,.c108,.c109,.c110{
        display: none;
      }
    }
    .controls{
      margin-right: 240px;
    }
    .click_label{
      transform: translateX(-40%);
    }
}
@media screen 
  and (max-width: 1040px) {
    .jumbotron{
      margin-left: -30px;
      .c106{
        display: none;
      }
    .click_label{
      transform: translateX(-30%);
    }
    // .controls{
    //   margin-right: 260px;
    // }
  }
}
@media screen 
  and (max-width: 1020px) {
    .jumbotron{
      margin-left: -40px;
    }
    .controls{
      margin-right: 220px;
    }
}
@media screen 
  and (max-width: 1000px) {
    .jumbotron{
      margin-left: -50px;
      .c104,.c105{
        display: none;
      }
      .click_label{
        transform: translateX(-20%);
      }
    }
    .controls{
      margin-right: 210px;
    }
}
@media screen 
  and (max-width: 980px) {
    .jumbotron{
      margin-left: -60px;
    }
    .controls{
      margin-right: 200px;
    }
}
@media screen 
  and (max-width: 960px) {
    .jumbotron{
      margin-left: -70px;
      .c102,.c103{
        display: none;
      }
      .click_label{
        transform: translateX(0%);
      }
    }
    .controls{
      margin-right: 190px;
    }
    
}
@media screen 
  and (max-width: 940px) {
    .jumbotron{
      margin-left: -80px;
    }
    .controls{
      margin-right: 160px;
    }
    .click_label{
      transform: translateX(200%);
    }
}
@media screen 
  and (max-width: 900px) {
    .jumbotron{
      margin-left: -90px;
      .c98,.c99,.c100,.c101{
        display: none;
      }
    }
    .controls{
      margin-right: 140px;
    }
}
@media screen 
  and (max-width: 860px) {
    .jumbotron{
      margin-left: -110px;
      .c96,.c97{
        display: none;
      }
    }
    .controls{
      margin-right: 120px;
    }
}

@media screen 
  and (max-width: 820px) {
    .jumbotron{
      margin-left: -140px;
      .click_label{
        transform: translateX(20%);
      }
    }
    .controls{
      margin-right: 100px;
    }
}
@media screen 
  and (max-width: 800px) {
    .jumbotron{
      margin-left: -140px;
    }
    .controls{
      margin-right: 90px;
    }
}
@media screen 
  and (max-width: 780px) {
    .jumbotron{
      margin-left: -160px;
      .c93,.c94, .c95{
        display: none;
      }

    }
    .controls{
      margin-right: 80px;
    }
}
@media screen 
  and (max-width: 740px) {
    .jumbotron{
      margin-left: -170px;
      .c89,.c90,.c91,.c92{
        display: none;
      }
      .click_label{
        transform: translateX(40%);
      }
    }
    .controls{
      margin-right: 70px;
    }
}
@media screen 
  and (max-width: 720px) {
    .jumbotron{
      margin-left: -180px;
    }
    .controls{
      margin-right: 60px;
    }
}
@media screen 
  and (max-width: 700px) {
    .jumbotron{
      margin-left: -190px;
    }
    .controls{
      margin-right: 50px;
    }
}
@media screen 
  and (max-width: 680px) {
    .jumbotron{
      margin-left: -210px;
    }
    .controls{
      margin-right: 40px;
    }
}
@media screen 
  and (max-width: 660px) {
    .jumbotron{
      margin-left: -220px;
      .click_label{
        transform: translateX(50%);
      }
    }
    .controls{
      margin-right: 30px;
    }
}
@media screen 
  and (max-width: 640px) {
    .jumbotron{
      margin-left: -230px;
      .c87, .c88{
        display: none;
      }
      .click_label{
        transform: translateX(60%);
      }
    }
    .controls{
      margin-right: 20px;
    }
}

//
@media screen 
  and (max-width: 950px) {
    .about, .work, .thoughts, .contact, .thanks{
      margin-top: 40px;
    }
     .aboutWrapper, .thanksWrapper, .contactWrapper {
      padding: 0 20px;
    }
  }
@media screen 
  and (max-width: 768px) {
     .aboutWrapper, .thanksWrapper, .contactWrapper {
      padding: 0 30px;
    }
    .work .workItem .titleFloat h3 {
      padding-left: 25px;
    }
    .work_img .work_copy{
      width: 60%;
    }
    .work_img .work_copy .work_link a{
      margin-left: 25px;
    }
    .work_img .work_copy .work_excerpt p {
      padding: 25px;
    }
    .work_img .work_copy h4 {
      padding: 8px 25px;
    }
    .contact .wpcf7-form .form_send{
      padding: 15px 25px;
    }
    .work_img .work_copy .work_link a {
      padding: 15px;
    }
    .thoughts .blog_post .blog_link a {
      padding: 10px 15px;
    }
  }//
  @media screen 
    and (max-width: 700px) {
     .thoughts .blog_post {
        width: 100%;
        height: 150px;
        max-width: 100%;
        margin-bottom: 10px;
        h3{
          font-size: 1.8rem;
        }
    }//
    .thoughts .blog_post:nth-child(4){
      margin-left: 0;
    }
    .thanks {
      margin-bottom: 40px;
    }
    .work_img .work_copy{
      width: 75%;
    }
  }
  @media screen 
    and (max-width: 620px) {
      .jumbotron_static{
        display: block;
      }
      .jumbotron{
        display: none;
      }
      nav {
        margin-top: 0;
      }
      .main-nav-scrolled{
        position: fixed;
        top: 119px;
      }
    }
@media screen 
  and (max-width: 620px) {
    .work .workItem .titleFloat h3 {
      font-size: 2rem;
      padding: 20px 0;
      padding-left: 20px;
    }
  }
  @media screen 
    and (max-width: 520px) {
      .call{
        display: none;
      }
      .skills {
        font-size: 1.1rem;
        padding: 9px 12px;
      }
      nav ul.menu li a {
         font-size: 1.2rem;
         padding: 12px 0;
      }
      .work_img {
        max-width: 1100px;
        background-position: -90% 50%;
      }
      .connect_me {
        margin-top: 25px;
        width: 43%;
        max-width: 43%;
      }
      .social .social_btns {
        padding-left: 18px;
        font-size: 4.5rem;
      }
      .connect {
        display: none;
      }
    }
  @media screen 
    and (max-width: 430px) {
      .logo {
        width: 50%;
        margin-top: 35px;
      }
      .logo h1 a {
        width: 100%;
        font-size: 2.7rem;
          padding: 10px 40px 10px 25px;
      }
      .jumbotron_static{
        display: none;
      }
      nav {
        position: fixed;
        top: 119px;
        width: 100%;
        display: block;
      }
       .icons{
        display: none;
       }
       .work_img {
        height: 300px;
       }
       .work_img .work_copy .work_excerpt p {
        margin-top: 25px;
         padding: 15px;
         font-size: 1.4rem;
         line-height: 1.6;
       }
       .work_img .work_copy{
         width: 85%;
       }
       .work_img .work_copy h4 {
        // font-size: 2.2rem;
        display: none;
       }
       .work_img .work_copy .work_link a{
        margin-top: 0;
        margin-left: 0;
       }
       .work_img {
         max-width: 1100px;
         height: 275px;
        background-position: -60% 50%;
       }
       .work .workItem .titleFloat h3 {
        padding: 20px 0;
        padding-left: 15px;
       }
       .work_img .work_copy h4 {
          padding: 12px 15px;
          margin-top: 20px;
       }
        .aboutWrapper, .thanksWrapper, .contactWrapper {
         padding: 0 20px;
       }
       .about, .work, .thoughts, .contact, .thanks{
         margin-top: 40px;
       }

       h2 {
         font-size: 2.4rem;
         margin-bottom: 20px;
       }
       .work_img .work_close {
          display: none;
       }
       .work .workItem .work_close_bar {
         display: block;
       }

       .thoughts .blog_post .blog_link a{
          margin-top: 15px;
          margin-left: 10px;
       }
       .thoughts .blog_post{
        margin-bottom: 0;
       }
       .thoughts .blog_post h3{
        padding: 10px 15px;
       }
       .aboutPush{
          margin-top: 140px;
       }
       .thoughts .blog_post {
          border-top: none;
       }
       .thoughts .blog_post:nth-child(2) {
          border-top: 1px solid rgba(0,0,0,0.1);
       }
       .connect_me {
         margin-top: 25px;
         width: 43%;
         max-width: 43%;
       }
       .social .social_btns {
         padding-left: 12px;
         font-size: 4.5rem;
       }

    }
@media screen 
  and (max-width: 385px) {
    .connect_me {
      display: block;
      margin-top: 10px;
      width: 42%;
      max-width: 42%;
      float: right;
      // clear: both;
    }
    .social .social_btns {
      margin-top: 20px;
      padding-left: 10px;
      font-size: 3.7rem;
    }
    .logo{
      margin-top: 35px;
    }
    .logo h1 a{
      padding: 10px 20px 10px 15px;
      margin-left: 0;
    }
  }
@media screen 
  and (max-width: 320px) {
  h2 {
    font-size: 2.2rem;
  }
  .contact .wpcf7-form input {
    font-size: 1.3rem;
    padding: 3px;
  }
  .work_img .work_copy .work_excerpt p {
    margin-top: 30px;
    line-height: 1.5;
  }
  .work_img .work_copy {
    width: 100%;
  }
  nav ul.menu li a {
    padding: 15px 0;
  }

}
 // ----------- Non-Retina Screens ----------- 
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

 // ----------- iPad 3 and 4 ----------- 
 // Portrait and Landscape 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
//
////////////////////////////////
//WORK EXAMPLE MEDIA QUERIES
////////////////////////////////
//
@media screen 
  and (max-width: 950px) {
    .workWrapper{
      padding: 0 30px;
    }
    .work_post h2 {
      margin: 25px 0;
    }
    .work-first-box .key-image {
      width: 50%;
    }
    .work-first-box .key-copy {
      font-size: 1.7rem;
      line-height: 2.6rem;
      width: 46%;
    }
    .work-extra-box .secondary-image {
      width: 50%;
    }
    .work-extra-box .secondary-copy {
      width: 46%;
    }
  }
@media screen 
  and (max-width: 950px) {
    .work-first-box .key-copy {
      font-size: 1.5rem;
      width: 46%;
    }
  .work-first-box .key-copy .link a {
    font-size: 1.2rem;
    padding: 6px 9px;
  }
}
  //
  @media screen 
    and (max-width: 800px) {
      .work-first-box .key-image {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
      }
      .work-first-box .key-copy {
        width: 100%;
        max-width: 100%;
        padding: 0;
        line-height: 2.3rem;
        margin-top: 30px;
        font-size: 1.6rem;
      }
      .work-extra-box .secondary-image {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 60px;
      }
      .work-extra-box .secondary-copy {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        p{
          line-height: 1.6;
        }
      }
      .workWrapper img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      .workWrapper {
        margin-bottom: 35px;
      }
  }
  @media screen 
    and (max-width: 600px) {
      .work-extra-box .secondary-image {
        margin-top: 25px;
      }
      .work-first-box .key-copy {
        margin-bottom: 20px;
      }
    }
  @media screen 
    and (max-width: 600px) {
      .workWrapper {
        padding: 0 15px;
        // font-size: 1.4rem;
      }
      .work-first-box .key-copy {
        font-size: 1.5rem;
        line-height: 2.4rem;
      }
      .my_post h2 {
        font-size: 3rem;
        margin: 25px 0 10px 0;
      }
      .enlarge-image p, .blog-click p {
        top: 40%;
      }
    }
    @media screen 
      and (max-width: 520px) {
        h2.work-title {
          font-size: 2.5rem!important;
          margin: 30px 0;
          padding: 0 15px;
        }
        .work-first-box .key-copy {
          margin-bottom: 20px;
          padding: 0 15px;
          font-size: 1.4rem;
          line-height: 2rem;
        }
        .work-first-box .key-image{
          padding: 0;
        }
    }
    @media screen 
      and (max-width: 460px) {
        .workWrapper{
          padding: 0;
        }
        .navigation .nav-previous a {
          // width: 48%;
          margin-right: 0;
        }
    }
  @media screen 
    and (max-width: 320px) {

      .my_post h2 {
        font-size: 2.5rem;
      }
      .enlarge-image p, .blog-click p {
        top: 35%;
      }
  }
//
////////////////////////////////
//WORK EXAMPLE MEDIA QUERIES
////////////////////////////////
//

@media screen 
    and (max-width: 800px) {
      .my_post .innerWrapper{
        padding: 0 30px;
      }
      .comments-area h2{
        font-size: 1.8rem;
      }
      ol .children {
        -webkit-padding-start: 25px;
      }

}
@media screen 
    and (max-width: 620px) {
      .comments-area h2{
        font-size: 1.6rem;
      }
      ol .children {
        -webkit-padding-start: 15px;
      }
}
@media screen 
    and (max-width: 540px) {
      .my_post .entry-content p {
        font-size: 1.8rem;
        line-height: 3rem;
      }
      .my_post h2 {
        font-size: 1.8rem;
      }
      .comments-area h2{
        font-size: 1.4rem;
      }
      ol .children {
        -webkit-padding-start: 20px;
      }
}
@media screen 
    and (max-width: 430px) {
      .my_post .innerWrapper{
        padding: 0 15px;
      }
      .my_post .entry-content h2 {
        font-size: 2rem;
      }
      .my_post .entry-content h3 {
        margin: 25px 0 5px 0;
      }
      .setImage {
        margin-bottom: 25px;
      }
      .my_post .entry-content p {
        font-size: 1.6rem;
        line-height: 3rem;
      }
      ol .children {
        -webkit-padding-start: 15px;
      }
      .replyWrapper{
        padding: 0 10px;
      }

}
@media screen 
    and (max-width: 320px) {
      .my_post .innerWrapper{
        padding: 0 15px;
      }
      .my_post h2 {
        font-size: 2.2rem;
      }
      .my_post .entry-content p {
        font-size: 1.6rem;
        margin-bottom: 5px;
      }
      .my_post .entry-content pre {
        font-size: 1.4rem;
      }
      .my_post .entry-content h2 {
        font-size: 2rem;
      }
      .my_post .entry-content h3 {
        margin: 25px 0 5px 0;
      }
      .comments-title{
        font-size: 1.2rem;
      }
      .navigation .nav-previous a {
        max-width: 130px;
        // line-height: 1.8rem;
      }
      .my_post .entry-content blockquote {
        line-height: 2.4rem;
      }
      ol .children {
        -webkit-padding-start: 15px;
      }
      #respond textarea {
        height: 100px;
      }

}
