// _nav.scss
.top_nav{
  // left: 170px;  
}
.main-nav-scrolled{
  position: fixed;
  top: 94px;
  width: 100%;
  max-width: 1100px;
  display: block;
}
.nav_shower{
  display: none;
  padding: 5px 0; 
  border-top: $borderOne;
  border-bottom: $borderOne;
  text-align: center;
  font-size: 1.3rem;
  color: $lightgray;
  &:hover{
    background: $black;
    color: $default;
  }
}
.nav_shower_on{
  background: $black;
  color: $default;
}
nav{
  max-width: 760px;
  margin: 0 auto;
  margin-top: 25px;
  background: $default;
  z-index: 2000;
   ul.menu {
    max-width: 100%;
    margin: 0;
    padding: 0;

    li{
      display: inline;
      float: left;
      margin: 0;
      text-align: center;
      width: 25%;
      a{
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
        max-width: 100%;
        border: $borderOne;
        border-left: none;
        display: block;
        padding: 12px 0;
        transition: $animatorOne;
      }
    }
    li:first-child{
      border-left: 1px solid $border;
    }
    .menu-item-66 a:hover{
        color: white;
        background: $grayblue;
      }
      .menu-item-67 a:hover{
        color: white;
        background: $maroon;
      }
      .menu-item-68 a:hover{
        color: white;
        background: $burntorange;
      }
      .menu-item-69 a:hover{
        color: white;
        background: $richgray;
      }
   }
}