// _taxonomies.scss

.skills{
	color: $default;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 8px 30px;
	display: inline-block;
}
.ActionScript{
	background: $green;
}
.API{
	background: $turquoise;
}
.CSS{
	background: $richgray;
}
.Git{
	background: $burntorange;
}
.HTML5{
	background: $beige;
}
.JavaScript{
	background: $mediumblue;
}
.jQuery{
	background: $orange;
}
.Responsive{
	background: $cherry;
}
.Sass{
	background: $maroon;
}
.WordPress{
	background: $purple;
}
//

.Effects{
	background: $deepblue;
}
.Blender{
	background: $mediumblue;
}
.Browser{
	background: $pink;
}
.Command{
	background: $green;
}
.Grid{
	background: $black;
}
.Gulp{
	background: $red;
}
.Illustrator{
	background: $lightorange;
}
.Maxon{
	background: $lightgray;
}
.Photoshop{
	background: $lightblue;
}
.Premiere{
	background: $deeppurple;
}
.Sketch{
	background: $yelloworange;
}
.Sublime{
	background: $darkgray;
}
////
.tasks{
	color: $default;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 8px 30px;
	display: inline-block;
}