// _utilities.scss
$animatorOne: all 0.25s ease-in;
$animatorTwo: all 0.125s ease-in;
$borderOne: 1px solid $border;
$borderTwo: 4px solid $borderFull;
$borderThree: 1px solid $borderCtwo;

.hide{
	display: none;
}
.makeWhite{
	color: #fff;
}
.blog_border{
	filter: grayscale(60%);
}
.push{
	margin-top: 70px;
}