// _utilities.scss
$animatorOne: all 0.25s ease-in;
$animatorTwo: all 0.125s ease-in;
$borderOne: 1px solid $border;
$borderTwo: 4px solid $borderFull;
$borderThree: 1px solid $borderCtwo;
$borderFaint: 1px solid $faintgray;

.hide{
	display: none;
}
.unhide{
	display: block!important;
}
.makeWhite{
	color: #fff!important;
}
.blog_border{
	filter: grayscale(60%);
}
.push{
	margin-top: 70px;
}
.block-it{
	display: block;
}
.inline-block-it{
	display: inline-block;
}
.border-it{
	border: $borderFaint;
}
//
.mobileTop{
	margin-top: 500px;
}
.aboutPull {
  margin-top: 120px!important;
}
.postPull{
	margin-top: 170px!important;
}