// _work.scss
.workWrapper{
	max-width: 1100px;
	margin: 0 auto;
	img{
		width: 100%;
		max-width: 660px;
		height: auto;
	}
}
.work_post h2{
	width: 100%;
	margin: 35px 0;
	padding-bottom: 5px;
	// font-size: 4.5rem!important;
}

.work-first-box{
	.key-image{
		width: 60%;
		float: left;
		margin-bottom: 35px;
		margin-right: 4%;
		position: relative;
		img{
			float: left;
		}
	}
	.key-copy{
		font-family: $display-font;
		font-size: 2rem;
		line-height: 3rem;
		margin: 0;
		padding: 0;
		float: left;
		width: 36%;
		max-width: 400px;
	}
}
.work-extra-box{
	.secondary-image{
		width: 60%;
		float: left;
		margin-bottom: 35px;
		margin-right: 4%;
		position: relative;
		img{
			float: left;
		}
	}
	.secondary-copy{
		margin: 0;
		padding: 30px;
		float: left;
		width: 36%;
		max-width: 400px;
		background: rgba(0,0,0,0.05);
	}
}
.work-image{
	
}
.view-image{
	
}
.enlarge-image{
	opacity:0;
	width: 100%;
	height: 100%;
	background: rgba($default,0.35);
	position: absolute;
	top: 0;
	left:0;
	transition: all 0.25s ease-in;
	p{
		color: $default;
		font-size: 2rem;
		background: $black;
		display: inline-block;
		position: relative;
		top: 45%;
		left:50%;
		transform: translateY(-50%);
		transform: translateX(-50%);
		padding: 5px 14px;
		// border: 5px solid $black;
		border-radius: 50%;
		transition: all 0.25s ease-in;
	}
	&:hover{
		opacity:80;
	}
}